
# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
_book/
cache/
coverage/
dts/
esm/
lib/
umd/
node_modules/

# Custom
*.min.js
*.map

# Configs
.babelrc
.eslintignore
.eslintrc.js
.flowconfig
.prettierignore
babel.config.js
jest.config.js
prettier.config.js
tsconfig.json
tsconfig.eslint.json
tsconfig.options.json
webpack.config.js
*.tsbuildinfo

# Emoji datasets
# packages/data/*/data.json
# packages/data/*/compact.json
# packages/data/*/shortcodes/*.json
# !packages/data/*/data.raw.json
# !packages/data/*/compact.raw.json
# !packages/data/*/shortcodes/*.raw.json
packages/data/**/*.json
!packages/data/**/*.raw.json
!packages/data/meta/*.json
