# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.yarnclean

# Directories
coverage/
esm/
lib/
node_modules/

# Custom
tests/bundle.min.js
*.map

# Configs
.babelrc
.eslintrc.json
.eslintignore
.flowconfig
jest.json
.prettierrc
webpack.config.js
