node_modules/
build/
cjs/
coverage/
dist/
esm/
lib/
mjs/
umd/
CHANGELOG.md

.yarn
*.d.ts

cache/**/*.json
packages/data/**/*.json
packages/generator/src/resources/*.ts
packages/test-utils/*.json
packages/regex/**/*.js
website/.docusaurus
